.cartItems{
    margin: 100px 170px;
}

.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: none;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 15px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 50px;
    /* border-radius: 10px; */
}

.carticon-product-icon{
    width: 100px;
    height: 80px;
    margin: 0px 30px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 40px;
    height: 40px;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    background: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-down{
    display: flex;
    margin: 70px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}
.cartitems-totalitem{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 600;
}

.cartitems-total button{
    width: 250px;
    height: 50px;
    outline: none;
    background:#ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cartitems-total button:hover{
    background: #e04848;
}

.cartitems-promocode{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    }
.cartitems-promocode p{
    color: #555;     
  }

.cartitems-promobox{
    width: 300px;
    margin-top: 15px;
    /* padding-left: 20px; */
    height: 50px;
    background: #eaeaea;
}
.cartitems-promobox input{
    width: 200px;
    height: 50px;
     margin-left: 10px; 
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    
}

.cartitems-promobox button{
    width: 150px;
    height: 50px;
    outline: none;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cartitems-promobox button:hover{
    background: #333333;
}
.cartitems-promobox div{
    padding-top: 20px;

}