.descriptionbox{
    margin: 80px 50px;
}

.descriptionbox-navigator{
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: gray;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border: 1px solid #d0d0d0;
    color: #555;
    background: #fbfbfb;
}

.descriptionbox-new-box {
    background: #fbfbfb;
    color: #555;
     display: flex;
     align-items: center;
    justify-content: center;
    border: 1px solid #d0d0d0;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.descriptionbox-description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #d0d0d0;
  padding: 40px;
  padding-bottom: 50px;
  text-align: justify;
  font-weight: 600;
  font-size: 16px;
}
