/* body{
    margin: 0;
    height: 100vh;
} */

.container {
  width: 100%;
  height: 90vh;
  background: linear-gradient(180deg, #47fdae, #e1ffea22 60%);
  padding-top: 50px;
  padding-bottom: 100px;
  /* border: 2px solid #00000010;
    border-radius:  15px; */
  /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.text {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}
.underline {
  width: 90px;
  height: 4px;
  background-color: #dfe6e3;
  border-radius: 9px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  gap: 15px;
  /* margin-bottom: 10px; */
  margin: auto;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #fff;
  width: 400px;
  height: 50px;
  box-shadow: 0 0 10px #00000020;
}

.input img {
  margin: 0px 10px;
  /* width: 20px;
    height: 20px; */
}

.input input {
  border: none;
  outline: none;
  color: #00000020;
  background: transparent;
  width: 400px;
  height: 50px;
  font-size: 19px;
}

.forget-password {
  text-align: center;
  margin-top: 27px;
  font-size: 16px;
  color: #333;
}
.forget-password span {
  color: #47fdae;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 60px auto;
}

.submit {
  width: 150px;
  height: 45px;
  background: #47fdae;
  border-radius: 25px;
  box-shadow: 0 0 10px #00000020;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.gray {
  background: #eaeaea;
  color: #676767;
}
.submit:hover {
  background-color: #c9ece0;
}
